@font-face {
  font-family: 'Calibre-Regular';
  src: url('/assets/fonts/Calibre-Regular.woff');
}

@font-face {
  font-family: 'Calibre-Bold';
  src: url('/assets/fonts/Calibre-Bold.woff');
}

/* https://colorpalettes.net/color-palette-2898/ */

body {
  font-family: 'Calibre-Regular';
  font-size: 18px;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}

a {
  color: #0a1612;
  text-decoration: none;
}

a:hover {
  color: #f7ce3e;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  padding: 0;
  width: 800px;
}

.page-header-title {
  color: #0a1612;
  font-family: 'Calibre-Bold';
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 35px;
  text-align: center;
  text-rendering: optimizeLegibility;
}