@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

a {
  color: #373737;
  text-decoration: none;
}

a:hover {
  color: #00818a;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  padding: 0;
  width: 800px;
}

.page-header-title {
  color: #373737;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 35px;
  text-align: center;
}