input {
  border: 1px solid #f0f0f0;
  color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-align: center;
}

p {
  width: 800px;
}

.container {
  height: 125px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
}

#color-01 {
  background-color: #373737;
}

#color-02 {
  background-color: #f4f4f4;
}

#color-03 {
  background-color: #dcd0c0;
}

#color-04 {
  background-color: #c0b283;
}

#color-05 {
  background-color: #404b69;
}

#color-06 {
  background-color: #dbedf3;
}

#color-07 {
  background-color: #00818a;
}

