@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Mono:wght@600;700&display=swap');
@font-face {
  font-family: 'hello honey';
  src: url('/../assets/fonts/hello-honey.woff');
}
a {
  color: #00b9e1;
  text-decoration: none;
}

a:hover {
  color: #e60012;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-rendering: optimizeLegibility;
}

h1 {
  color: #e60012;
  font-size: 18px;
}

h2 {
  color: #7d7d7d;
  font-size: 14px;
}

.container {
  display: grid;
  margin: auto;
  padding: 0;
  width: 1200px;
}

/* Dropdown button */
.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 0; /* Important for vertical align on mobile phones */
  outline: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  background-color: #fafafa;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 150px;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #000000;
  display: block;
  float: none;
  padding: 15px;
  text-align: left;
  text-decoration: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #eeeeee;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Navbar container */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: auto;
  padding: 25px;
  width: 1200px;
}

/* Links inside the navbar */
.navbar a {
  color: #000000;
  text-decoration: none;
}

.navbar a:hover {
  color: #e60012;
}

.page-footer-image {
  display: block;
  height: 50px;
  margin: auto;
}

.page-footer-spacer {
  padding-top: 75px;
}

.page-header-image {
  display: block;
  height: 50px;
  margin: auto;
}

.page-header-title {
  height: 120px;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 1200px;
}

.page-header-text {
  color: #000000;
  font-family: 'hello honey';
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  top: 0px;
  vertical-align: middle;
  width: 1200px;
}

.spacer-between {
  padding-top: 35px;
}

.spacer-bottom {
  padding-top: 5px;
}

.spacer-top {
  padding-top: 15px;
}
