div.tooltip {
  align-items: center;
  background: #ffffff;
  border: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  pointer-events: none;
  position: absolute;
}
