svg {
  overflow: visible;
}

.axis text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.focus circle {
  fill: #F186BF;
  stroke: #F186BF;
}

.focus text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.hover-line {
  stroke: #F186BF;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.line {
  fill: none;
  stroke: #F186BF;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.rect {
  fill: #ffffff;
}