.container {
  grid-template-columns: 1fr 1fr 1fr;
  height: 500px;
}

.link {
  padding-left: 10px;
  padding-top: 10px;
}

.title {
  background: linear-gradient(to right, #FFDBDB 0%, #FFEEE2 20%, #FCFADE 40%, #E2FCE6 60%, #DFF2FD 80%, #E3E3FF 100%);
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}