table {
  border-collapse: collapse;
}

th {
  padding: 10px;
}

th:first-child {
  opacity: 0;
}

td {
  padding: 10px;
  text-align: center;
  width: 75px;
}

td:first-child {
  text-align: left;
  width: 175px;
}

tr:nth-child(even) {
  background-color: #cceeff;
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #cceeff;
}
