h2 {
  font-family: 'Calibre-Bold';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: auto;
}

p {
  font-family: 'Calibre-Regular';
  font-size: 18px;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}

.container {
  display: grid;
  grid-template-columns: 200px 590px;
  column-gap: 10px;
  margin: auto;
  padding: 0;
  padding-top: 50px;
  width: 800px;
}

.container-text {
  margin: auto;
  padding: 0;
}