.axis {
  font-size: 12px;
  font-weight: bold;
}

.lAxis line,
.lAxis path {
  stroke: #ffffff;
}

.lAxis text {
  font-size: 12px;
  font-weight: bold;
}

#legend {
  display: block;
  margin: auto;
}
