.axis {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#chart {
  background-color: #f4f4f4;
}