.axis text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.bar {
  fill: #00b9e1;
  shape-rendering: crispEdges;
}

.label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

#charts,
#logos {
  display: grid;
  grid-template-columns: 600px 600px;
}

#chart-01 {
  background-color: #eeeeee;
  height: 350px;
  width: 575px;
}

#chart-02 {
  background-color: #eeeeee;
  height: 350px;
  width: 575px;
}

#nintendo-hw {
  height: 150px;
}

#nintendo-sw {
  height: 100px;
  padding-top: 20px;
}
